# Set

In [2]:
s = set()

### add
add elements to a set. Remember a set won't take duplicate elements and only present them once (thats why its called a set!)

In [3]:
s.add(1)

In [4]:
s.add(2)

In [5]:
s

{1, 2}

### clear
removes all elements from the set

In [6]:
s.clear()

In [7]:
s

set()

### copy
returns a copy of the set. Note it is a copy, so changes to the original don't effect the copy.

In [8]:
s = {1,2,3}
sc = s.copy()

In [9]:
sc

{1, 2, 3}

In [10]:
s

{1, 2, 3}

In [11]:
s.add(4)

In [12]:
s

{1, 2, 3, 4}

In [13]:
sc

{1, 2, 3}

### difference
difference returns the difference of two or more sets. The syntax is:

    set1.difference(set2)
For example:

In [17]:
s.difference(sc)

{4}

### difference_update
difference_update syntax is:

    set1.difference_update(set2)
the method returns set1 after removing elements found in set2

In [14]:
s1 = {1,2,3}

In [15]:
s2 = {1,4,5}

In [16]:
s1.difference_update(s2)

In [17]:
s1

{2, 3}

### discard
Removes an element from a set if it is a member.If the element is not a member, do nothing.

In [18]:
s

{1, 2, 3, 4}

In [19]:
s.discard(2)

In [20]:
s

{1, 3, 4}

### intersection and intersection_update
Returns the intersection of two or more sets as a new set.(i.e. elements that are common to all of the sets.)

In [21]:
s1 = {1,2,3}

In [22]:
s2 = {1,2,4}

In [23]:
s1.intersection(s2)

{1, 2}

In [24]:
s1

{1, 2, 3}

intersection_update will update a set with the intersection of itself and another.

In [25]:
s1.intersection_update(s2)

In [26]:
s1

{1, 2}

### isdisjoint
This method will return True if two sets have a null intersection.

In [27]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [28]:
s1.isdisjoint(s2)

False

In [29]:
s1.isdisjoint(s3)

True

### issubset
This method reports whether another set contains this set.

In [30]:
s1

{1, 2}

In [31]:
s2

{1, 2, 4}

In [32]:
s1.issubset(s2)

True

### issuperset
This method will report whether this set contains another set.

In [33]:
s2.issuperset(s1)

True

### symmetric_difference and symmetric_update
Return the symmetric difference of two sets as a new set.(i.e. all elements that are in exactly one of the sets.)

In [58]:
s1

{1, 2}

In [59]:
s2

{1, 2, 4}

In [60]:
s1.symmetric_difference(s2)

{4}

### union
Returns the union of two sets (i.e. all elements that are in either set.)

In [62]:
s1.union(s2)

{1, 2, 4}

### update
Update a set with the union of itself and others.

In [63]:
s1.update(s2)

In [64]:
s1

{1, 2, 4}

# Tuple

In [34]:
# Can create a tuple with mixed types
t = (1,2,3)

In [35]:
# Check len just like a list
len(t)

3

In [36]:
t = ('one',2)

# Show
t

('one', 2)

In [37]:
t[0]

'one'

In [38]:
# Slicing just like a list
t[-1]

2

## Tuple Methods

In [39]:
# Use .index to enter a value and return the index
t.index('one')

0

In [40]:
# Use .count to count the number of times a value appears
t.count('one')

1

## Peoperty of Immutability

Tuples are immutable, can not be update the existing values

In [41]:
t[0]= 'cha'

TypeError: 'tuple' object does not support item assignment


Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [42]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'